VITE_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEF64XDxXgCpjyDVHANGAm\nUcQrVkVIfGzgSonBRoHhLrn3AWASyIyVT0dQVgwlqNmLEAgfCxVelHRIlqnDmec6\n6ZlbmR6re/7KhP1YIAgkLTU505aD0qzZEgfUuvLSFVqeEb1KD2Z5df9BIc4JompW\ngKeD/+zSOtecWPWI3i/pBKrZ4hzrbazKFLQnl0gsHF6BvQemLnJBeLw9wf7H0HZm\nyiJ3kpOTEVBDf3LpouOZR2EVljyPchmay5zEjbSit6z4yPoTC2yLJqZRi9+UUD08\nVSQnDeG7bGnrWVi2yvYccGkI7iB21LnDTqVlPDPzAgWolcJjHsT0hLoGe2e1aMMK\nwwIDAQAB\n-----END PUBLIC KEY-----
VITE_ACCESS_TOKEN_EXPIRE_MINUTES=60
VITE_REFRESH_TOKEN_EXPIRE_MINUTES=1440
